# docroot contains dkan and dupral core files see https://getdkan.github.io/dkan-tools/#structure/
/dkan-demo/docroot/* 

# exclude frontend managed in extra projekt
dkan-demo/src/frontend/*

# exclude vendors -> files are generated
dkan-demo/vendor/*