# Common Docker Container configuration
version: "2"
services:

  frontend:
    hostname: frontend
    build:
      context: .
      dockerfile: Dockerfile_Frontend
    image: dkanreactfrontend
    ports:
      - "8088:80"

    labels:
      - "traefik.enable=true"
      - "traefik.frontend.passHostHeader=true"
      # there are better ways to solve this but this is the fastest
      - "traefik.http.routers.dkan-frontend.rule=Host(`{{ inventory_hostname }}`) && (Path(`/`, `/search`,`/api`,`/about`,`/publishers`, `/service-worker.js`, `/robots.txt`, `/favicon.ico`, `/asset-manifest.json`, `/manifest.json`, `/dkan-avatar-blue.png`) || PathPrefix(`/static`, `/logo`, `/dataset`))"
      - "traefik.http.routers.dkan-frontend.priority=3"
      - "traefik.http.routers.dkan-frontend.entryPoints=websecure, web"

    depends_on:
      - dkan-backend

    networks:
      - {{ dkan_network_name }}

  demo-files:
    hostname: demoweb
    image: nginx
    ports:
      - "8099:80"

    volumes:
      - "{{ dkan_container_config_path }}/demo:/usr/share/nginx/html"

    labels:
      - "traefik.enable=true"
      - "traefik.frontend.passHostHeader=true"
      - "traefik.http.routers.demo-files.rule=Host(`{{ inventory_hostname }}`) && PathPrefix(`/demo-files`)"
      - "traefik.http.routers.demo-files.priority=2"
      - "traefik.http.middlewares.stripdemo.stripprefix.prefixes=/demo-files"
      - "traefik.http.routers.demo-files.middlewares=stripdemo"
      - "traefik.http.routers.demo-files.entryPoints=websecure, web"

    networks:
      - {{ dkan_network_name }}

  dkan-backend:
    hostname: web
    build:
      context: .
      dockerfile: Dockerfile_DKAN
    image: dkanweb
    ports:
      - "8077:80"
      - "443"
      - "8888"
    volumes:
      - "dupral-profiles:/var/www/html/profiles"
      - "dupral-sites:/var/www/html/sites"
      - "dupral-modules:/var/www/html/modules"

    env_file:
      - "{{ dkan_container_config_path }}/mysql.env"

    labels:
      - "traefik.enable=true"
      - "traefik.frontend.passHostHeader=true"
      - "traefik.http.routers.dkan-backend.rule=Host(`{{ inventory_hostname }}`)"
      - "traefik.http.routers.dkan-backend.priority=1"
      - "traefik.http.routers.dkan-backend.entryPoints=websecure, web"

    depends_on:
      - db

    networks:
      - {{ dkan_network_name }}

  db:
    hostname: db
    image: mariadb
    ports:
      - "3306"

    env_file:
      - "{{ dkan_container_config_path }}/mysql.env"

    volumes:
      - dkan-database:/var/lib/mysql
    
    networks:
      - {{ dkan_network_name }}

volumes:
  dkan-database:
  dupral-profiles:
  dupral-sites:
  dupral-modules:

networks:
  {{ dkan_network_name }}: